.container {
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0 auto;
}
.button {
  width: 100px;
  height: 100px;
  outline: none;
  border: solid 1px #0003;
  transition: 0.5s ease-in-out;
  padding: 0;
  cursor: pointer;
  position: relative;
  left: 0px;
  top: 0px;
}
.button::after {
  content: attr(id);
  position: absolute;
  left: 90%;
  bottom: 85%;
  font-size: 12px;
}
.buttonContainer {
  position: initial;
  margin: 0 auto;
}

.solveButton {
  width: 300px;
  height: 40px;
  margin: 0 auto;
}

.infoContainer {
  position: initial;
  margin: 0 auto;
}
